<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to Simple CRUD Article Service, pleasee visit <a href="http://localhost:3000/articles">this link</a> </p>
  </body>
</html>
